@import "tailwindcss";

:root {
  --dark: #121212;
  --foreground: #171717;
  --header: #1212121A;
  --yellow: #F0E74D;
  --dots: #1E1E1E;
  --border: #3B3B3B;
  --purple: #864CF6;
  --subsbg: #222123;
  --sort: #2A2A2A;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

body {
  background: var(--dark);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet {
  background: var(--dots) !important;
  width: 14px;
  height: 14px;
  opacity: 1 !important;
  transition: all 0.3s;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  border: none;
  transform: scale(1.2);
  background: var(--yellow) !important;
  width: 16px;
  height: 16px;
}

.swiper-pagination-progressbar {
  background: #2a2a2a;
  height: 6px;
  border-radius: 9999px;

  width: 80% !important;
  margin: 0 auto !important;

  position: absolute !important; /* tekrar absolute yapıyoruz */
  bottom: 0 !important;       /* container içinde alta sabitle */
  left: 10% !important;
  transform: translateX(-50%);
  top: auto !important;
  z-index: 50 !important;        /* kartların üstünde olsun */
}
.swiper-pagination-progressbar-fill {
  background: #facc15 !important;
  border-radius: 9999px;
}

